
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" />
</head>
<div style="text-align:center">
  <h1>
    Welcome to Angular Demo
  </h1>
<button class="btn btn-primary" (click)="bindings()">Bindings Example</button> <br/>
<button class="btn btn-primary" [routerLink] = "['/directives']">Directives Example</button> <br/>
<button class="btn btn-primary" [routerLink] = "['/io']">Input-Output Example</button> <br/>
<button class="btn btn-primary" [routerLink] = "['/form']">Form Example</button> <br/>
<button class="btn btn-primary" [routerLink] = "['/employeeinfo']">Employee Component</button> <br/>
<button class="btn btn-primary" [routerLink] = "['/hooks']">Hooks Demo</button> <br/>
<button class="btn btn-primary" [routerLink] = "['/rxjs']">RxJs Component</button> <br/>
<button class="btn btn-primary" [routerLink] = "['/books']">Books Component</button> <br/>
</div>



